<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading pt0 pr0">
			<span class="mt10 dib">
				<span class="glyphicon glyphicon-user mr5"></span>
				Orders
			</span>
			<button type="button" class="btn btn-default btn-sm mt5 pull-right mr5" ng-click="methods.view.order.get();"><span class="glyphicon glyphicon-refresh mr5"></span> Refresh</button>
		</div>
		<div class="panel-body pt0 pr0 pb0 pl0">
			<form class="form-horizontal mb0">
				<div class="form-group has-feedback mb0">
					<div class="col-md-12">
						<input type="text" class="form-control" placeholder="Search Order" ng-model="formData.orderSearch" />
						<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
					</div>
				</div>
			</form>
		</div>
		<table class="table table-bordered table-hover table-responsive">
			<thead>
				<tr>
					<th><span class="small text-primary">#</span>Id</th>
					<th>User</th>
					<th>Status</th>
					<th>Items</th>
					<th>Total</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="o in data.orders | filter: formData.orderSearch" ng-class="methods.orderStatusNgClass(o.status, '');">
					<td ng-bind-html="o.id | canteenOrderId:true"></td>
					<td>
						<span ng-show="o.for.mobile">
							<a ng-href="#!/admin/profile/{{o.for.mobile}}">
								<strong class="mr5">{{ o.for.name }}</strong>
							</a>
							<span ng-bind-html="o.for.mobile | canteenMobile"></span>
						</span>
						<span ng-show="!o.for.mobile">
							<strong>Anonymous</strong>
						</span>
					</td>
					<td><strong>{{ o.status }}</strong> <span class="small">from {{ o.statusTime[o.status] | date: data.config.dateFilter }}</span></td>
					<td class="pt0 pr0 pb0 pl0 vam">
						<table class="table table-bordered table-hover table-responsive table-condensed mb0 small">
							<tbody>
								<tr ng-repeat="p in o.products">
									<td>
										<strong>{{ p.name }}</strong>
										<span class="mr5 ml5">x</span>
										<strong>{{ p.quantity }}</strong>
									</td>
									<td>
										<strong ng-bind-html="p.total | canteenCurrency"></strong>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td ng-bind-html="o.total | canteenCurrency"></td>
					<td class="text-center">
						<a class="glyphicon glyphicon-eye-open cursor-pointer text-primary mr5 small" ng-href="#!/admin/order/{{ o.id }}"></a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="warning">
					<th ng-hide="data.orders.length" colspan="6" class="text-center">
						<strong>No Orders Found !</strong>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>